#container {
	width: 600px;
	height: 400px;
	margin: auto;
	margin-top: 10%;
	display: flex;
}

#caratula {
	width: 50%;
	height: 75%;
	background-color: darkgrey;
}

#caratula:hover + #disco {
	animation: openDisc 3s linear 1 forwards;
}

#disco {
	width: 50%;
	height: 75%;
	background-color: black;
	background-image: linear-gradient(230deg, transparent, rgba(255, 255, 255, 0.25), transparent);
	position: relative;
	left: -50%;
	z-index: -1;
  animation: openDisc 3s  2s linear 1 forwards;
}

#disco__interno {
	width: 40%;
	height: 40%;
	background-color: red;
}

#disco__agujero {
	width: 10%;
	height: 10%;
	background-color: white;
}

.centrado {
	display: flex;
	justify-content: center;
	align-items: center;
}

.redondo {
	border-radius: 50%;
}

@keyframes openDisc {
  0% { transform: translate(0%, 0%) rotate(0deg) }
  100% { transform: translate(95%, 0%) rotate(360deg); }
}
